.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  font-family: Pretendard;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
  color: white;
}

button {
  background-color: #bcf1ff;
  color: #282c34;
  font-size: 1.25em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #282c34;
  border-radius: 6px;
  cursor: pointer;
}

button:disabled {
  background-color: #282c34;
  color: #bcf1ff;
  border: 2px solid #bcf1ff;
  cursor: not-allowed;
}

button:not(:disabled):hover {
  background-color: #ccf3fd;
  color: #282c34;
  border: 2px solid #282c34;
}

textarea {
  background-color: #282c34;
  color: white;
  font-size: 1.25em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #bcf1ff;
  border-radius: 6px;

  width: 800px;
  height: 400px;
}

input {
  background-color: #282c34;
  color: white;
  font-size: 1.25em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #bcf1ff;
  border-radius: 6px;
}

.wrapper {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.wpm {
  display: flex;
}

.fullscreen {
  background-color: #282c34;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
}

.reading {
  font-size: 4em;
}

.reading-wrapper {
  height: 200px;
  width: 70%;
  border-radius: 12px;
  border: 4px solid #bcf1ff;
  margin: 2rem;
  position: relative;
}

.word-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.before-part,
.after-part {
  white-space: nowrap; /* Prevents text from wrapping */
}

.emphasized {
  font-weight: bold;
  color: red;
  position: relative; /* To position this element in the center */
  z-index: 2; /* Ensures it's above the other text */
}

.before-part {
  position: absolute;
  right: 100%; /* Position it to the left of the emphasized letter */
}

.after-part {
  position: absolute;
  left: 100%; /* Position it to the right of the emphasized letter */
}
